.litle-form {
  border: 1px solid #151116;
  border-radius: 16px;
  padding: 30px 25px;
  background-color: #fff;
  &__items {
    display: flex;
    gap: 30px;
  }
  &__item:first-child {
    max-width: 60%;
    width: 100%;
  }
  &__inner {
    display: flex;
    gap: 15px;
  }
  &__count {
    flex-shrink: 0;
    width: 167px;
  }
  &__footer {
    display: flex;
    gap: 30px;
  }
  &__text {
    font-size: 13px;
    line-height: 12px;
    display: flex;
    color: #6e6870;
    align-items: flex-end;
    line-height: 1.5;
    @include fluidHeight(42px, 52px, 480px, 1024px, 52px);
  }
  &__btn-box {
    width: 100%;
    max-width: calc(40% - 30px);
  }
  &__btn {
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media (max-width: 720px) {
  .litle-form {
    &__items,
    &__footer {
      flex-direction: column;
      gap: 0;
    }
    &__text {
      height: auto;
      margin-bottom: 10px;
    }
    &__item:first-child {
      width: 100%;
      max-width: 100%;
    }
    &__btn-box {
      width: 100%;
      max-width: 100%;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 520px) {
  .litle-form {
    padding: 20px 10px;
    border-radius: 8px;
    &__inner {
      flex-direction: column;
      gap: 0;
    }
    &__count {
      width: auto;
    }
  }
}
