.hero {
  @include fluidPaddingT(130px, 170px, 420px, 1280px, 170px);
  @include fluidPaddingB(35px, 90px, 420px, 1280px, 90px);
  min-height: 100vh;
  background-color: #fff7ef;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &__title {
    text-align: center;
    @include fluidMarginB(25px, 55px, 420px, 1280px, 55px);
  }
  &__bage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    --gap: 30px;
    --elements: 4;
    gap: var(--gap);
    @include fluidMarginB(25px, 55px, 420px, 1280px, 55px);
  }
  &__bage-item {
    width: $layout;
    display: flex;
    background-color: $accent;
    padding: 20px;
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    min-height: 80px;
  }
  &__from-box {
    max-width: 740px;
    width: 100%;
    margin-right: auto;
  }
}

@media (max-width: 1230px) {
  .hero {
    &__bage {
      --gap: 15px;
    }
  }
}

@media (max-width: 980px) {
  .hero {
    &__bage {
      --elements: 3;
    }
  }
}

@media (max-width: 880px) {
  .hero {
    &__bage {
      --elements: 2;
      --gap: 10px;
    }
  }
}

@media (max-width: 580px) {
  .hero {
    &__bage {
      --elements: 1;
    }
  }
}