.message {
  overflow: hidden;
  &__wrapper {
    max-width: 930px;
    margin: 0 auto;
    position: relative;
    @include fluidPaddingLR(10px, 15px, 480px, 1024px, 10px);
  }
  &__img {
    position: absolute;
    bottom: 10px;
    right: -43%;
  }
}

@media (max-width: 1470px) {
  .message {
    &__img {
      bottom: 13px;
      right: -50px;
      width: 258px;
    }
  }
}

@media (max-width: 960px) {
  .message {
    &__img {
      display: none;
    }
  }
}
